<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Data Engineer Trainee</h4>
        <p class="text-slate"><a href="https://www.fibre2fashion.com">Chola MS</a> • March 2025 - Present
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Gaining hands-on experience in real-world data engineering processes, 
            including data cleaning, transformation, and pipeline design.</li>
          <li>Developing core Python programming skills, 
            with a focus on data manipulation using libraries like Pandas, NumPy, and Matplotlib.</li>
          <li> Building a solid understanding of statistical concepts and probabilistic models to support data-driven decision making.</li>
          <li>Exploring tools and concepts essential for data engineering and data science, 
            including SQL, data wrangling, and exploratory data analysis (EDA).</li>
        </ul>
      </div>
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Frontend Developer Intern</h4>
        <p class="text-slate"><a href="https://www.fibre2fashion.com">Coding Monsters</a> • May 2024 - July 2024
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Spearheaded initiatives for UI enhancements on the Coding Monsters site, contributing to increased interaction from users, 
            with reduced disengagement as evidenced by lower bounce rates measured at 15%.</li>
          <li>Launched an innovative real-time search function that eliminated delays in user queries, leading to a 25% improvement
            in content discovery rates across the platform, positive user feedback led to a 40% increase in return visits.</li>
          <li>Produced reusable React components from a complex Figma interface using ReactJS, CSS and Sass, accelerated overall
            project completion enhancing workflow efficiency for future iterations.</li>
          <li>Successfully integrating Razorpay’s payment gateway and crafted an automated invoicing system to generate and
            distribute invoices in real-time.</li>
          <li>Initiated the launch of an updated platform, driving a 94% surge in user traffic and enhancing operational efficiency
            by 87% through optimized workflows and improved system performance.</li>
        </ul>
      </div>

    </div>
  </div>
</section>