<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Data Engineer</h4>
        <!-- Changed Chola MS from <a></a> to simple text-->
        <p class="text-slate">Chola MS • March 2025 - Present
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Gaining hands-on experience in real-world data engineering processes, 
            including data cleaning, transformation, and pipeline design.
          </li>
          <li>Developing core Python programming skills, 
            with a focus on data manipulation using libraries like Pandas, NumPy, and Matplotlib.
          </li>
          <li> 
            Building a solid understanding of statistical concepts and probabilistic models to support data-driven decision making.
          </li>
          <li>Exploring tools and concepts essential for data engineering and data science, 
            including SQL, data wrangling, and exploratory data analysis (EDA).
          </li>
        </ul>
      </div>
      <!-- Removing Coding Monsters experience-->
    </div>
  </div>
</section>